:root {
  --purple: #7f00ff;
  --pink: #e100ff;
  --text: #616161;
}
/* Login stuff */
.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #616161;
}

.title1 .title2 {
  display: block;
}
.login__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f8f8f8;
  box-shadow: 2px 2px 5px #e8e8e8;
  border-radius: 10px;
  padding: 30px;
  outline: none;
}
.login__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #eee;
}
.login__remember {
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
}
.btn {
  font-size: 16px;
  margin-bottom: 15px;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.75em 1.75em;
  border-radius: 50px;
  display: inline-block;
  cursor: pointer;
}
.login__btn {
  z-index: 1;
  position: relative;
  color: #fff;

  /* Our gradient */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--purple)),
    to(var(--pink))
  );
  background: linear-gradient(to right, var(--purple), var(--pink));
  background-size: 150% 100%;
  transition: background-position linear 0.2s;
}
.login__btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -10px;
  left: 5%;
  height: 110%;
  width: 90%;
  opacity: 0.8;
  border-radius: 50px;

  /* Declaring our shadow color inherit from the parent (button) */
  background: inherit;

  /* Blurring the element for shadow effect */
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -o-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);

  /* Transition for the magic */
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.login__btn:hover {
  background-position: 50%;
}
.login__btn:hover::after {
  /* Changing blur effect */
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);

  /* And change the style properties */
  width: 100%;
  bottom: -5px;
  left: 0;
}
.login__btn:hover:active::after {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
.login__google {
  color: var(--text);
  background: white;
  outline: 1px solid #cccccc;
  z-index: 1;
  box-shadow: 0 23px 10px -15px rgb(0 0 0 / 0.2);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.login__google:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}
.login__google:hover:active {
  box-shadow: 0 3px 25px rgb(0 0 0 / 0.4);
}
div.login {
  margin-top: 7px;
}
