.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #616161;
}

.title1 .title2 {
  display: block;
}
.login__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f8f8f8;
  box-shadow: 2px 2px 5px #e8e8e8;
  border-radius: 10px;
  padding: 30px;
  padding-top: 10px;
  outline: none;
}
.login__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #eee;
}
.login__remember {
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
}
.login__btn {
  position: relative;
  z-index: 1;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: white;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  border-radius: 25px;
  transition: color 0.5s linear;
}
.login__btn::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  background-color: #9aacff;
  background-image: linear-gradient(
    43deg,
    #9aacff 0%,
    #ff64f5 46%,
    #faff60 100%
  );
  transition: opacity 0.5s linear;
  opacity: 0;
  border-radius: 25px;
}
.login__btn:hover::before {
  opacity: 1;
}
.login__btn:hover:active::before {
  opacity: 0;
  transition: linear 0.2;
}
.login__btn:hover {
  color: black;
}
.login__btn:hover:active {
  transition: linear 0.2s;
  color: white;
}

.login__google {
  position: relative;
  background: rgb(233, 66, 53);
  background-image: linear-gradient(
    36deg,
    rgba(233, 66, 53, 1) 7%,
    rgba(250, 187, 5, 1) 32%,
    rgba(52, 168, 83, 1) 76%,
    rgba(66, 133, 244, 1) 100%
  );
  z-index: 1;
}
.login__google::before {
  background: rgb(255, 74, 59);
  background-image: linear-gradient(
    36deg,
    rgba(255, 74, 59, 1) 4%,
    rgba(250, 237, 5, 1) 36%,
    rgba(53, 255, 14, 1) 70%,
    rgba(37, 149, 255, 1) 100%
  );
}
div.login {
  margin-top: 7px;
}
