/* Login stuff */
.login__remember {
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
}
.login__btn {
  /* Our gradient */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--purple)),
    to(var(--pink))
  );
  background: linear-gradient(to right, var(--purple), var(--pink));
  background-size: 150% 100%;
}
.login__google {
  color: var(--text);
  background: white;
  border: 1px solid #cccccc;
  z-index: 1;
  box-shadow: 0 23px 10px -15px rgb(0 0 0 / 0.2);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.login__google:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}
.login__google:hover:active,
.login__google:focus {
  box-shadow: 0 3px 25px rgb(0 0 0 / 0.4);
}
#google_image {
  vertical-align: middle;
  float: left;
}
div.login {
  margin-top: 7px;
}
