.reset__btn {
  background: rgb(255, 121, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 121, 0, 1) 5%,
    rgba(201, 0, 0, 1) 40%,
    rgba(97, 0, 0, 1) 98%
  );
  background-size: 150% 100%;
}
