.submit__btn {
  background: rgb(0, 98, 159);
  background: linear-gradient(
    90deg,
    rgba(0, 98, 159, 1) 14%,
    rgba(33, 201, 0, 1) 84%
  );
  background-size: 150% 100%;
  margin-left: 10px;
}
