.Account__panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  row-gap: 2em;
}

.Account__center {
  text-align: center;
}

.Account__flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Account__container {
  width: 30em;
}

.Account__lightgray {
  color: #616161;
}

.Account__scrollbox {
  max-height: 12em;
  background-color: white;
  margin-bottom: 1em;
  overflow: scroll;
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
}

.submit__btn {
  background: rgb(45, 172, 0);
  background: linear-gradient(
    90deg,
    rgba(45, 172, 0, 1) 31%,
    rgba(179, 255, 0, 1) 95%
  );
  background-size: 150% 100%;
}
