:root {
  --purple: #7f00ff;
  --pink: #ff00ea;
  --text: #616161;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.title1,.title2 {
  display: block;
}
/* Fill screen and put stuff in middle */
.middle {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #616161;
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f8f8f8;
  box-shadow: 2px 2px 5px #e8e8e8;
  border-radius: 10px;
  padding: 30px;
  outline: none;
}
/* Simple way to make the material textboxes have the
 * background color that I want without complex theming 😁 */
.textBox input {
  background-color: white;
}

.linkStyle {
  text-decoration: none;
}
